<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PALEES</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css')}}">

</head>
<body class="body-app">

    <div class="sidebar">
        <h2 class="logo-sgvd">PALEES</h2>

        <nav class="menu-opciones">
            <a href="/contactos" class="menu-item">Contactos</a>
            <a href="/logout" class="menu-item">Salir</a>
        </nav>
    </div>

    <main class="contenido">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
